process {
    executor = "local"
    cpus = 8 // threads for all inputs
}

// -qs, -queue-size TODO check

outputDir = 'results'

// https://www.nextflow.io/docs/edge/conda.html#best-practices TODO
// https://www.nextflow.io/docs/edge/config.html#config-profiles
// profiles {
//   mamba {
//     process.conda = 'environment.yml or path/to/environment/dir'
//     conda.enabled = true
//     conda.useMamba = true
//   }

//   conda {
//     process.conda = 'environment.yml or path/to/environment/dir'
//     conda.enabled = true
//   }

//   docker {
//     process.container = 'kpotoh/nemu-pipeline:latest' // TODO
//     docker.enabled = true
//   }



params {
    // Inputs/Outputs
    input = ""
    inputType = "nucleotide_coding"             // protein, nucleotide_coding, nucleotide_noncoding
    gencode = 1                                 // Genetic code table
    saveIntermeds = false                      // Save intermediate files

    // Protein Input
    db = ""
    taxdump = ""
    speciesName = ""                         // Override species name
    maxTargetSeqs = 2000

    // Nucleotide Input
    outgroupId = "OUTGRP"                      // Outgroup sequence ID
    aligned = false                             // Nucleotide input is pre-aligned

    // Pipeline Logic
    threads = 1                                // threads per each input

    // MSA & Tree
    minSeqs = 4                                 // Min sequences to proceed
    msaMode = "auto"                           // auto, macse (accurate codon alignment), mafft_macse, mafft
    model = "GTR+FO+G4+I"                       // IQ-TREE Model
    modelAsr = "GTR+FO+G4+I"                   // ASR Model (auto = same as tree)
    runTreeShrink = true                        // Run TreeShrink to prune long branches
    treefile = ""                              // Provide pre-computed tree path to skip tree building

    // Mutation Extraction
    consCatCutoff = 0                          // 0 = no cutoff
    probaArg = true                             // Use probabilities
    uncertaintyCoef = true                      // Use phylogeny uncertainty coefficient

    // Spectra Calculation
    plot = true                                 // Generate plots of spectra and tree
    internal = false
    terminal = false
    branchSpectra = false
    spectraType = "syn"                        // syn, syn4f, nonsyn, all
}
