// Process Config:

singularity.enabled = true

process {
  container = '/home/kpotoh/nemu-pipeline/singularity/image_pipeline_latest.sif'
  executor = 'local'
  cpus = '1'
  memory = '2 GB'
}

executor {
  $local {
    cpus = '4'
    memory = '2 GB'
  }  
}


// Basic Parameters:

params {
  sequence = ''
  gencode = '2'
  nspecies = 'single'
  outgroup = 'OUTGRP'
  aligned = 'true'
}

// Advanced params

params {
  
  verbose = 'true'
  njobs = '4'
  treefile = ''
  internal = 'true'
  terminal = 'false'
  branch_spectra = 'false'

  use_macse = 'false'
  iqtree_model = "GTR+FO+G6+I"  // Substitution model for IQTREE2. Could be 'MFP' to run modelfinder
  run_shrinking = "true"
  quantile = "0.1"                // The quantile(s) to set threshold for treeshrink

  iqtree_anc_model = "GTR+FO+G6+I" // Substitution model for IQTREE2 ancestral state reconctuctin
  exclude_cons_sites = "true"     // exclude conservative sites from expected mutations estimation 
  // path_to_siterates = "None"   // Path to tsv-table with precomputed site rates for given alignment (iqtree format with 4 columns: Site, Rate, Cat, C_Rate) 
  cons_cat_cutoff = "1"           // Minimal site category used to estimate expected mutations

  uncertainty_coef = "true"       // Use uncertainty coefficient while mutations extraction
  save_exp_mutations = "false"     // Save to file all possible mutations used in mutational spectra adjusting (normalization)
  all = "true"                    // Run extraction of mutational spectrum based on all mutations
  syn4f = "true"                  // Run extraction of mutational spectrum based on synonymous fourfold mutations
  nonsyn = "true"                  // Run extraction of mutational spectrum based on non-synonymous
  mnum192 = "16"                  // Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra
  use_probabilities = "true"      // Use probabilities of nucleotides in mutational spectra calculation
  proba_cutoff = "0.3"            // Mutation probability cutoff: mutations with lower probability will not be considered in spectra calculation

  run_simulation = "false"        // Run simulation using pyvolve. Available only when nspecies = 'multiple'
  replics = "10"                  // Number of replics to simulate neutral evolution in pyvolve
  scale_tree = "1"                // Scaling coefficient for tree in pyvolve: less

}
